# dependências
node_modules

# build do Next.js
.next
out

# variáveis de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# configs locais
.vercel

# arquivos do sistema
.DS_Store
Thumbs.db

.vercel
.env*.local
